<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="factoryConnectionDDB" class="ru.geekbrains.dao.FactoryConnectionDB" factory-method="getFactoryConnectionDB" init-method="init">
        <property name="urlDatabase" value="jdbc:sqlite:chat_users.db"/>
    </bean>

    <bean id="authHandler" class="ru.geekbrains.dao.DBAuthHandler">
        <constructor-arg name="factoryConnectionDB" ref="factoryConnectionDDB"/>
    </bean>

    <bean id="server" class="ru.geekbrains.core.Server">
        <constructor-arg name="authHandler" ref="authHandler"/>
    </bean>

</beans>